{
    "plugins": [
        "@babel/plugin-proposal-class-properties", "react-hot-loader/babel"
    ],
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "airbnb"
    ],
    "env": {
        "test": {
          "plugins": ["transform-es2015-modules-commonjs"]
        }
    }
}